{% extends 'base.html' %}
{% load cache %}
{% load thumbnail %}
{% block title %}Избранные авторы{% endblock %}
{% block post_content %}
  <h1>Избранные авторы</h1>
  {% include 'posts/includes/switcher.html' %}
  {% for post in page_obj %}
  {% include 'posts/includes/post_template.html' %}
    {% if post.group %}
    <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
{% include 'posts/includes/paginator.html' %}
{% endblock %}
